:root {
  --color-dark: #24292E;
  --color-white: #FFF;
  --color-link: #0366d6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  color: var(--color-dark);
  background-color: var(--color-white);
  overflow-x: hidden;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/* Loader styles */

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
  }
}

.loader__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in;
}

.error {
  display: none;
  text-align: center;
}

.error__img {
  width: 200px;
  max-width: 100%;
}

.error__text {
  font-size: 3rem;
  color: #BBB;
}

@media only screen and (max-width: 600px) {
  .error__img {
    width: 120px;
  }

  .error__text {
    font-size: 2rem;
  }
}

/* End of Loader styles */

/* Navbar Styles */

.nav {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0 30px;
  display: flex;
  align-items: center;
  width: 100vw;
}

.nav__menu {
  background: none;
  border: none;
  color: var(--color-white);
}

.nav__logo img {
  width: 35px;
}

.nav__items {
  align-items: center;
}

.nav__item a {
  color: var(--color-white);
  margin-right: 15px;
  text-decoration: none;
  font-weight: 600;
}

.nav__item:hover {
  opacity: .7;
}

.search {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, .5);
  position: relative;
  margin: 0 20px;
}

.search input {
  background: none;
  border: none;
  outline: none;
  padding: 8px 12px;
  min-width: 280px;
  color: var(--color-white);
}

.search input::placeholder {
  color: rgba(255, 255, 255, .7)
}

.search::after {
  content: '/';
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border: 1px solid rgba(255, 255, 255, .5);
  font-size: .8rem;
  padding: 0px 8px 3px;
  right: 6px;
}

.nav__actions {
  margin-left: auto;
  align-items: center;
}

.badge {
  position: relative;
}

.badge::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(#54a3ff,#006eed);
  right: -5px;
  top: -5px;
}

.dropdown {
  align-items: center;
  font-size: .8rem;
}

.dropdown img {
  margin: 0 5px 0 20px;
}

.profile-img {
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .nav.open {
    padding: 10px 30px;
  }
  
  .nav.open .nav__items {
    position: absolute;
    width: 100%;
    top: 39px;
    padding: 20px;
    left: 0;
    z-index: 5;
    background-color: var(--color-dark);
    display: block;
  }

  .nav.open .nav__item:nth-of-type(1) {
    margin-bottom: 16px;
    width: 100%;
    margin-left: 0;
  }

  .nav.open .nav__item:not(:nth-of-type(1)) {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 8px 0;
  }

  .nav {
    padding: 10px 30px;
    justify-content: space-between;
  }

  .nav__items {
    display: none;
  }

  .nav__actions {
    margin-left: unset;
  }
}

@media only screen and (min-width: 768px) {
  .nav.open .nav__items {
    position: relative;
    padding: 0;
    top: unset;
    width: unset;
    display: flex;
  }

  .nav__items {
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav__item {
    font-size: .9rem;
  }
}

/* End of Navbar Styles */



/* Main container styles */

.main {
  margin-top: 30px;
}

.main__header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

.main__header .container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .1s ease-out;
}

.avatar.show {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.avatar__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.main__header .tabs {
  margin-left: auto;
  display: flex;
}

.tab__item {
  display: flex;
  padding: 10px 15px;
  color: rgba(0, 0, 0, .8);
  font-size: .9rem;
}

.tab__item img {
  margin-right: 10px;
}

.tab__item--active {
  font-weight: 600;
  color: var(--color-dark);
  border-bottom: 2px solid #f9826c;
}

.content {
  margin-top: 20px;
}

.user {
  margin-top: -50px;
}

.user__profile {
  position: relative;
}

.user__profile img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.user-img {
  position: relative;
}

.status {
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 75%;
}

.status i {
  color: rgba(0, 0, 0, .5);
  font-size: 1.2rem;
}

.user__name {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 10px 0 0;
}

.user__account {
  color: rgba(0, 0, 0, .8);
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 10px;
}

.user__bio {
  font-size: .9rem;
  text-transform: capitalize;
  max-width: 200px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
}

.repo__search {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  outline-color: rgba(3, 102, 214, .3);
}

.repo__overview {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, .1);
  padding: 10px 0;
  display: block;
  margin-top: 15px;
}

.repo__overview span {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .status {
    display: none;
  }

  .user {
    margin-top: 0;
  }

  .avatar {
    display: none;
  }

  .user__profile {
    display: flex;
    align-items: center;
  }

  .user__profile img {
    margin-right: 10px;
    width: 120px;
    height: 120px;
  }

  .main__header {
    margin-bottom: 20px;
  }

  .main__header .tabs {
    justify-content: start;
  }

  .tabs {
    overflow-x: auto;
  }

  .tab__item {
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 500px) {
  .user__profile img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .status {
    width: 30px;
    height: 30px;
    font-size: .9rem;
    left: 50%;
  }

  .user__profile {
    display: block;
    margin-top: -50px;
  }

  .user__profile img {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1200px) {
  .status {
    left: 70%;
  }

  .user__profile img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .status {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    left: 75%;
  }

  .user__profile img {
    width: 280px;
    height: 280px;
  }
}
/* End of Main container styles */


/* Repositories styles */

.repositories {
  
}

.repository {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.repository a {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}

.repository a:hover {
  text-decoration: underline;
}

.repository__description {
  font-size: 14px;
  margin: 10px 0 0;
}

.repository__btn {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  background-color: #f9f9fa;
  display: flex;
  align-items: center;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.repository__btn:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.repository__btn img {
  margin-right: 5px;
}

.repository__details {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, .7);
  margin: 10px 0 20px;
  flex-flow: row wrap;
}

.count {
  display: flex;
  margin-right: 20px;
}

.count img {
  margin-right: 5px;
}

.language {
  margin-right: 20px;
}

.language__color {
  width: 12px;
  height: 12px;
  margin-bottom: -1px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, .1);
  display: inline-block;
}

.updated {
  margin: 0;
}

/* End of Repositories styles */